@model OnixiaWebApplication.Models.CombinedBuildingsViewModel

@{
    ViewBag.Title = "Index";
    
}

<div id="content">
    <div class="page">
        <h2 class="title">Buildings</h2>
        @Html.DisplayFor(m => m.AllBuildings)
    </div>
</div>