@model OnixiaWebApplication.Models.ViewModels.ShipsModel
@{

    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
    ViewBag.Title = "Build ships";
}

<h2>Schips</h2>


<div id="content">
    <div class="page">
        @Html.DisplayFor(m => m.Ships)
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/onixia")
}
