@model OnixiaWebApplication.Models.ShipsModel
@{

    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";   
    ViewBag.Title = "Build ships";
}

<h2>Schips</h2>
<div>
    @Html.DisplayFor(m => m.Ships)
</div>
