#leftNav .nav .lines {
    width: 242px; 
    margin: 4px 0 0 5px; 
    font-size: 13px; 
    background: url(../images/panel-bg.png) repeat; 
    border-left: 1px solid #0073cc; 
    border-right: 1px solid #0073cc;
}

#leftNav .nav .lines a {
    color: #fff;
}

#leftNav {
    width: 250px; 
    margin-top: 15px;
}

#leftNav .nav {
    background: url(../images/panel-title.png) no-repeat;
}

#leftNav .nav span {
    width: 15px; height: 15px; 
    margin: 9px 0 0 9px;
}

#leftNav .nav span.main {
    background: url(../images/nav-main-icon.png) no-repeat;
}

#leftNav .nav span.planets {
    background: url(../images/nav-planet-icon.png) no-repeat;
}

#leftNav .nav span.information {
    background: url(../images/nav-information-icon.png) no-repeat;
}

#leftNav .nav span.personal {
    background: url(../images/nav-personal-icon.png) no-repeat;
}

#leftNav .nav label {
    font-size: 12px; 
    padding-left: 15px; 
    line-height: 32px; 
    text-shadow: 0px 0px 2px #fff; 
    font-weight: bold; 
    color: #060c16;
}

#leftNav .nav .lines {
    width: 242px; 
    margin: 4px 0 0 5px; 
    font-size: 13px; 
    background: url(../images/panel-bg.png) repeat; 
    border-left: 1px solid #0073cc; 
    border-right: 1px solid #0073cc;}
#leftNav ul {
    margin: 0 15px 5px 15px;
}

#leftNav li {
    background: url(../images/line-separator.png) 100% 100% repeat-x; 
    overflow: hidden; 
    line-height: 30px; 
    text-shadow: 1px 1px 1px #000;
}

#leftNav li a {
    display: block; 
    color: #8C8B8B;
}

#leftNav li a:hover {
    color: #fff;
}

#leftNav .bottom {
    width: 244px; 
    height: 20px; 
    background: url(../images/panel-bottom.png) no-repeat; 
    margin-left: 5px;
}

input, textarea, select {
    background: url(../images/panel-bg.png) repeat; 
    border: 1px solid #08586A; 
    color: #00C0FF; 
    padding: 2px 5px; 
    -webkit-border-radius: 2px; 
    border-radius: 2px;
}

input:focus, input.submit:hover, input.checkbox {
    -webkit-box-shadow: 0px 0px 5px #007eff; 
    box-shadow: 0px 0px 5px #007eff;
}

input.ships, input.deleteMessages {
    width: 200px; 
    height: 22px; 
    background: url(../images/msg-button.png) no-repeat; 
    border: 0px; 
    color: #fff; 
    font-weight: bold; 
    margin: 0 0 20px 200px;
}