body {
    padding-top: 50px;
    padding-bottom: 20px;
    max-width: 100%;
}

html {
    max-width: 100%;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
#splashBackground {
    background-image: url("Images/main_background.jpg");
    position: absolute;
    left: 0;
    right: 0;
    max-width: 100%;
    min-height: 100%;

}
@font-face {
    font-family: squaretype;
    src: url(../Fonts/squaretype.ttf);
}
#splashBackground h2{
    color: #30efff;
    text-align: center;
    font-family: squaretype;
}

#splashBackground div {
    color: #2d7;
    text-align: left;
    font-family: monospace;
    font-size: 14pt;
}
#splashBackground input {
    font-family: helvetica;
    background-color: black;
    border: 1px solid #253;
    color: #5f9;
    font-family: monospace;
}
#splashBackground input[type=button] {
    padding: 50px;
}
#banner {
    background: url("Images/onixia.png") no-repeat center ;
    background-size: 30vh;
    min-width:40%;
    height: 50vh;
}
.spacer {
    height: 100%;
    width: 100%;
}

#leftNav .nav .lines {
    max-width: 242px; 
    margin: 4px 0 0 5px; 
    font-size: 13px; 
    background: url(../Content/images/panel-bg.png) repeat; 
    border-left: 1px solid #0073cc; 
    border-right: 1px solid #0073cc;
}

#leftNav .nav .lines a {
    color: #fff;
}

#leftNav {
    max-width: 250px; 
    margin-top: 15px;
}

#leftNav .nav {
    background: url(../Content/images/panel-title.png) no-repeat;
}

#leftNav .nav span {
    max-width: 15px; height: 15px; 
    margin: 9px 0 0 9px;
}

#leftNav .nav span.main {
    background: url(../Content/images/nav-main-icon.png) no-repeat;
}

#leftNav .nav span.planets {
    background: url(../Content/images/nav-planet-icon.png) no-repeat;
}

#leftNav .nav span.information {
    background: url(../Content/images/nav-information-icon.png) no-repeat;
}

#leftNav .nav span.personal {
    background: url(../Content/images/nav-personal-icon.png) no-repeat;
}

#leftNav .nav label {
    font-size: 12px; 
    padding-left: 15px; 
    line-height: 32px; 
    text-shadow: 0 0 2px #fff; 
    font-weight: bold; 
    color: #060c16;
}

#leftNav .nav .lines {
    max-width: 242px; 
    margin: 4px 0 0 5px; 
    font-size: 13px; 
    background: url(../Content/images/panel-bg.png) repeat; 
    border-left: 1px solid #0073cc; 
    border-right: 1px solid #0073cc;}
#leftNav ul {
    margin: 0 15px 5px 15px;
}

#leftNav li {
    background: url(../Content/images/line-separator.png) 100% 100% repeat-x; 
    overflow: hidden; 
    line-height: 30px; 
    text-shadow: 1px 1px 1px #000;
}

#leftNav li a {
    display: block; 
    color: #8C8B8B;
}

#leftNav li a:hover {
    color: #fff;
}

#leftNav .bottom {
    max-width: 244px; 
    height: 20px; 
    background: url(../Content/images/panel-bottom.png) no-repeat; 
    margin-left: 5px;
}

input, textarea, select {
    background: url(../Content/images/panel-bg.png) repeat; 
    border: 1px solid #08586A; 
    color: #00C0FF; 
    padding: 2px 5px; 
    -webkit-border-radius: 2px; 
    border-radius: 2px;
}

input:focus, input.submit:hover, input.checkbox {
    -webkit-box-shadow: 0 0 5px #007eff; 
    box-shadow: 0 0 5px #007eff;
}

input.ships, input.deleteMessages {
    max-width: 200px; 
    max-height: 22px; 
    background: url(../Content/images/msg-button.png) no-repeat; 
    border: 0; 
    color: #fff; 
    font-weight: bold; 
    margin: 0 0 20px 200px;
}

footer {
    text-align: center;
}
